<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout/sitelayout :: htmlhead" th:with="title='App Verification Result'"></head>

	<body>
		<div th:replace="layout/sitelayout :: navbar">(navbar)</div>
		<div class="container">
	      <div class="result-template">
	        <div class="app-verification-result"> 
	        	<h3>App verification result</h3>
	        	<br/>
	        	<p class='lead' th:text="${appName}"/>
	        	<p class='lead' th:text="${passed} ? 'Result: Passed' : 'Result: Failed'"/>
	        	<img th:if="${passed}" class="result-icon" th:src="@{/images/correct.png}" />
	        	<img th:if="${not passed}" class="result-icon" th:src="@{/images/failed.png}" />
	        	<br/>
	        	<br/>
	        	<p class='lead' th:text="${msg}"/>
	        	<table th:if="${hasMismatchedResources}" class="table table-striped">
	        		<thead>
					  	<tr>
					  		<th style="width:100px">Mismatched Resources List</th>
				 		</tr>
				 	</thead>
				  	<tbody>
				  		<tr th:each="mismatchedResource:${mismatchedResources}">
				  			<td th:text="${mismatchedResource}"></td>
					  	</tr>
				  	</tbody>
				</table>
	        </div>
	      </div>
	    </div>
	    
	    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>
	</body>
</html>