<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>

   	<title th:text="${title}">(title)</title>

  	<link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.css}" rel="stylesheet"></link>
  	<link th:href="@{/css/secured-market.css}" rel="stylesheet"></link>
  </head>
  
  <head th:fragment="errorpagehead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>

   	<title th:text="${title}">(title)</title>

  	<link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.css}" rel="stylesheet"></link>
  	<link th:href="@{/css/error-page.css}" rel="stylesheet"></link>
  </head>

  <body>
    <div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="${@environment.getProperty('url.root')}">Secured Android Market</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a th:href="${@environment.getProperty('url.home')}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a th:href="${@environment.getProperty('url.market.list')}">Apps</a></li>
            <li><a th:href="${@environment.getProperty('url.app.upload')}">Upload APK</a></li>
            <li><a th:href="${@environment.getProperty('url.googleplay.crawler')}">Google Play Crawler</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
      </div>
    </div>
    
   	<div th:fragment="pagination-bar" id="pagination-bar">
		<ul class="pagination">
			<li th:class="${page.firstPage} ? 'disabled' : ''">
				<span th:if="${page.firstPage}">← First</span>
				<a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← First</a>
			</li>
			<li th:class="${page.hasPreviousPage} ? '' : 'disabled'">
				<span th:if="${not page.hasPreviousPage}">«</span>
				<a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number - 1},size=${page.size})}" title="Go to previous page">«</a>
			</li>
			<li th:each="item:${page.items}" th:class="${item.current} ? 'active' : ''">
				<span th:if="${item.current}" th:text="${item.number}">1</span>
				<a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number - 1},size=${page.size})}">
					<span th:text="${item.number}">1</span>
				</a>
			</li>
			<li th:class="${page.hasNextPage} ? '' : 'disabled'">
				<span th:if="${not page.hasNextPage}">»</span>
				<a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number + 1},size=${page.size})}" title="Go to next page">»</a>
			</li>
			<li th:class="${page.lastPage} ? 'disabled' : ''">
				<span th:if="${page.lastPage}">Last →</span>
				<a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Last →</a>
			</li>
		</ul>
	</div>

    <div th:fragment="footer" id="footer">
      <div class="container footcontainer">
        <p class="muted credit">Designed and developed by Dept. of Information Management, NTUST</p>
      </div>
      <script th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    </div>

  </body>
</html>
