<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout/sitelayout :: htmlhead" th:with="title='Google Play Crawler'"></head>
	<body>
		<div th:replace="layout/sitelayout :: navbar">(navbar)</div>
		<div class="container">
	      <div class="starter-template">
	        <div class="apk-upload-form"> 
	        	<p class='lead' th:text="${msg}"/>
				<form method="POST" enctype="multipart/form-data" th:action="${@environment.getProperty('url.googleplay.crawler')}">
					<p class='lead'>APK ID (Package Name):</p>
					<input type="text" id="txt-app-name" class="form-control" placeholder="e.g., com.android.chrome" name="packageName" /><br /><br />
					<button type="submit" class="btn btn-primary">Download APK</button>
				</form>
	        </div>
	      </div>
	    </div>
	    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>
	</body>
</html>