<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout/sitelayout :: errorpagehead" th:with="title='Server Error'"></head>
	<body>
		<div th:replace="layout/sitelayout :: navbar">(navbar)</div>
		<div class="container">
		    <p class='err-title' th:text="${title}"></p>
		    <div class="err-img">
		    	<img class="imgFile" th:src="${errImg}" />
		    </div>
    		<p class='lead' th:text="${msg}">Sorry, but there was an error with the server that prevented this page from being displayed.</p>
	    </div>
	    
	    <div th:utext="'&lt;!--'" th:remove="tag"></div>
		<div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
		<div th:utext="'Exception: ' + ${exception.class}" th:remove="tag">${exception.message}</div>
		<ul th:remove="tag">
			<li th:each="ste : ${exception.stackTrace}" th:remove="tag">
				<span th:utext="${ste}" th:remove="tag">${ste}</span>
			</li>
		</ul>
		<div th:utext="'--&gt;'" th:remove="tag"></div>
		
	    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>
	</body>
</html>