<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/sitelayout :: htmlhead" th:with="title='Apps'"></head>

  <body>
    <div th:replace="layout/sitelayout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <div class="panel panel-primary">
		  <div class="panel-heading">Apps</div>
		  <table class="table table-striped">
		  	<thead>
		  		<tr>
		  			<th style="width:70px">#</th>
		  			<th style="width:140px">App Name</th>
		  			<th style="width:200px">Upload Time</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr th:each="app:${apps}">
		  			<th scope="row" th:text="${app.id}"></th>
		  			<td th:text="${app.appName}"></td>
		  			<td th:text="${#temporals.format(app.uploadTime, 'HH:mm:ss-dd/MM/yyyy')}"></td>
		  		</tr>
		  	</tbody>
		  </table>
		</div>
        <div th:include="layout/sitelayout :: pagination-bar" id="pagination-bar">(pagination-bar)</div>
      </div>
    </div>

    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>

  </body>
</html>
